.postnick-wrapper {
    display:flex;
}
.postnick-input-wrapper {
    flex-grow: 1;
    padding-right:20px;
}
.postnick-wrapper .button {
    line-height: 0 !important;
}
.postnick-checkout-error-message {
    color: #d43535;
    font-size: 0.8em;
}
.input-text {
    width:100%;
}
.manual {
    min-height: 30px;
}